.container {
    display: flex;
    padding: 2em;
    border: 1px solid var(--transparent-block-light-1);
    background: var(--transparent-block-light-1);
    border-radius: 16px;
    transition-duration: 0.2s;
}
.icon {
    display: flex;
    height: 44px;
    width: 44px;
    background-color: var(--color-2);
    background-size: 10%;
    mask-size: 100%;
    transition-duration: 0.2s;
}
.container:hover {
    border: 1px solid var(--primary-color-1);
    background: var(--transparent-block-light-2);
}
.container:hover > .icon {
    background-color: var(--primary-color-1);
}