.projects {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 33px;
}

p {
    line-height: 25px;
}

.date {
    color: var(--dark-grey);
    font-weight: 500;
    margin-bottom: 20px;
}

._2ICZP {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

._2ICZP ul {
    display: block;
    position: relative;
    width: 300px;
    border-left: 2px solid var(--headline-color);
    padding-left: 10px;
}

.exp-table {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
}