node_modules
.next
out
build
coverage

.git
.github
.idea
.vscode
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
.vercel

Dockerfile
docker-compose.yml
.dockerignore
README.md
*.md

next-env.d.ts
*.tsbuildinfo
