.container {
    display: flex;
    gap: 0.5em;
    flex: 1;
    padding: 8px 20px;
    white-space: nowrap;
    border: 1px solid var(--transparent-block-light-1);
    border-radius: 8px;
}
.label {
    color: var(--color-3);
}
.value {}