.donut {
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 1.2rem;
    animation: gradientText 5s infinite;
}

@keyframes gradientText {
    20%, 80% {
        color: var(--color-1);
    }
    40%, 60% {
        color: var(--accent-color-main);
    }
}

@media (min-width: 1440px) and (max-width: 1909px) {
    .donut {
        font-size: 0.7rem;
    }
}
@media (min-width: 1910px) and (max-width: 2539px) {
    .donut {
        font-size: 0.9rem;
    }
}
@media (min-width: 2540px) {
    font-size: 1.2rem;
}