.paper {
    width: 100%;
    background-color: var(--background-color);
    color: var(--headline-color);
}

.css-j6j1fo-MuiToolbar-root.Toolbar-toolbar { /* top box */
    background-color: var(--background-color);
}

.MuiTableCell-root { /* array text color */
    color: var(--text-color) !important;
}

.css-o7vo1z.Layout-root {
    background-color: var(--background-color) !important;
}

.css-69og1k-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid var(--headline-color) !important;
}
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon { /* sort arrow */
    color: var(--headline-color) !important;
}
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover {
    color: var(--headline-color) !important;
}
.MuiInputBase-input { /* search panel */
    color: var(--text-color) !important;
}
.MuiSvgIcon-root { /* lupa */
    color: var(--text-color) !important;
}
.MuiInput-underline:before {
    border-bottom: 1px solid rgb(255, 255, 255, 42%) !important;
}
.MuiInput-underline {
    transition-duration: 0.2s;
}
.MuiToolbar-root *::after {
    border-bottom: none !important;
}

.Mui-focused::after {
    border-bottom: 2px solid var(--headline-color) !important;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
}
.Mui-focused {
    border-color: var(--headline-color) !important;
}
.Mui-focused::before {
    border-color: var(--headline-color) !important;
}
.Title-title {
    color: var(--headline-color) !important;
}

@media (orientation: portrait) {
    .MuiToolbar-root {
        justify-content: center;
        display: flex;
    }
    .MuiToolbar-root > div {
        display: none;
    }
}

