.main-top {
    display: flex;
    flex-direction: row;
    margin: 5% 6em;
    align-items: center;
    min-height: 50vh;
}
.main-text {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}
.main-text-large {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--headline-font);
    margin: 0.5em 0;
}
.donut-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text-large-span {
    white-space: nowrap;
}
.main-home-area {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-3);
}
.main-home-version {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-3);
}
.main-home-version-exact {
    font-family: var(--headline-font);
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--accent-color-main);
}
@media (min-width: 1440px) and (max-width: 1909px) {
    .main-text-large {
        font-size: 2.5rem;
    }
}
@media (min-width: 1910px) and (max-width: 2550px) {
    .main-text-large {
        font-size: 3.5rem;
    }
    .main-home-area {
        font-size: 1.1rem;
    }
    .main-home-version {
        font-size: 1rem;
    }
    .main-home-version-exact {
        font-size: 1.1rem;
    }
}

@media (orientation: portrait) {
    .main-top {
        flex-direction: column;
        align-items: stretch;
        margin: 0 2%;
    }
    .main-text {
        margin: 20px 0 50px 0;
        max-width: unset;
    }
    .main-text-large {
        font-size: 1.5rem;
        margin: 5px 0;
    }
    .main-text-large-span {
        font-size: 1.5rem;
        white-space: normal;
    }
    .main-home-area {
        font-size: 0.9rem;
    }
    .main-home-version {
        font-size: 0.9rem;
        white-space: nowrap;
    }
    .main-home-version-exact {
        font-size: 1rem;
    }
}