.reduced-motion-container {
    display: flex;
    flex-direction: row;
}
.reduced-motion-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--border-color-1);
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}
.reduced-motion-button > span {
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 0.7rem;
    width: 70px;
    transition-duration: 0.2s;
    text-align: center;
}
.reduced-motion-button.ru > span {
    width: 90px;
}
.reduced-motion-button > span.active {
    color: var(--color-1-r);
}
.reduced-motion-absolute {
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: var(--border-radius-4);
    background: var(--color-1);
    z-index: -1;
    transition-duration: 0.2s;
}
.reduced-motion-absolute.left {
    left: 0;
}
.reduced-motion-absolute.right {
    left: 50%;
}
@media (min-width: 2540px) {
    .reduced-motion-button > span {
        font-size: 1.1rem;
        width: 110px;
    }
    .reduced-motion-button.ru > span {
        width: 140px;
        font-size: 1rem;
        padding-top: 7px;
    }
}
@media (orientation: portrait) {
    .reduced-motion-container {
        display: none;
    }
}