.contact-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    flex: 1;
    gap: 1em;
}
.contact-me-links {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex: 3;
}
.contact-me-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    box-sizing: border-box;
    flex: 2;
    border: 1px solid var(--color-4);
    border-radius: var(--border-radius-2);
}
.contact-me-desc-element {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace;
}
.contact-me-desc-element > span:nth-child(1) {
    color: var(--color-4);
}
.contact-me-desc-element > span:nth-child(2) {
    font-size: 2rem;
    color: var(--accent-color-main);
    font-weight: 500;
}
.contact-me-links-top, .contact-me-links-bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.contact-me-links-top {
    flex: 1;
    flex-direction: column;
}
.contact-me-links-top:has(> .contact-me-link-top:hover) > .contact-me-link-top:not(:hover) {
    opacity: 0.5;
    transform: scale(0.97);
}
.contact-me-links-bottom:has(> .contact-me-link-bottom:hover) > .contact-me-link-bottom:not(:hover) {
    opacity: 0.5;
    transform: scale(0.97);
    border-color: transparent;
}
.contact-me-link-top, .contact-me-link-bottom {
    box-sizing: border-box;
    padding: 0.5em 1em;
    border: 1px solid currentColor;
    border-radius: var(--border-radius-2);
}
.contact-me-link-bottom {
    padding: 0.5em 2em;
    color: var(--color-1);
    font-weight: 500;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    transition-duration: 0.2s;
    transition-delay: 0s;
}
.contact-me-link-bottom:hover {
    color: var(--accent-color-main);
}
.contact-me-link-bottom > span {
    transition-duration: 0s;
    transition-delay: 0s;
}
.contact-me-link-top {
    flex: 1;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .contact-me-container {
        margin: 7% 15%;
    }
    .contact-me-link-bottom {
        font-size: 1.3rem;
    }
    .contact-me-link-bottom > i {
        height: 25px !important;
        width: 25px !important;
    }
    .contact-me-desc-element > span:nth-child(1) {
        font-size: 1.2rem;
    }
    .contact-me-desc-element > span:nth-child(2) {
        font-size: 2.2rem;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .contact-me-container {
        margin: 10% 15%;
    }
    .contact-me-link-bottom {
        font-size: 1.5rem;
    }
    .contact-me-link-bottom > i {
        height: 30px !important;
        width: 30px !important;
    }
    .contact-me-desc-element > span:nth-child(1) {
        font-size: 1.5rem;
    }
    .contact-me-desc-element > span:nth-child(2) {
        font-size: 3rem;
    }
}

@media (orientation: portrait) {
    .contact-me-container {
        flex-direction: column-reverse;
    }
    .contact-me-links {
        flex-direction: column;
    }
    .contact-me-links-top {
        flex-direction: row;
    }
    .contact-me-link-bottom {
        min-height: 60px;
    }
}