header {
    height: 8vh;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.nav-bar-link {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    text-decoration: none;
    color: var(--dark-grey);
    transition-duration: 0.2s;
}
.header-icon {
    fill: var(--dark-grey);
    width: 45px;
    height: 45px;
    transition-duration: 0.2s;
}
.header-icon:hover {
    fill: var(--headline-color);
}
.nav-bar-link:hover {
    color: var(--headline-color);
}
.active {
     color: var(--headline-color);
     fill: var(--headline-color);
 }
.active svg path{
     color: var(--headline-color);
     fill: var(--headline-color);
 }
.header-svg {
    fill: var(--dark-grey);
    transition-duration: 0.1s;
    --size_xzef: 30px;
    width: var(--size_xzef);
    height: var(--size_xzef);
}

.header-svg:hover {
    fill: var(--headline-color);
}


