header {
    display: flex;
    flex-direction: row;
    padding: 3em 4em;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.header-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex: 1;
}
.header-link {
    text-transform: uppercase;
    color: var(--color-1);
    font-size: 1.2rem;
    text-decoration: none;
    transition-duration: 0.2s;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
}
.header-link:hover {
    color: var(--color-3);
}
.header-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    right: 0;
    background: var(--accent-color-main);
    border-radius: 2px;
    width: 0;
    transition-duration: 0.2s;
}
.header-link.active::after {
    left: 0;
    width: 100%;
}
.header-link:hover::after {
    left: 0;
    width: 100%;
}
.header-link.active {
    color: var(--accent-color-main);
}
.header-right {
    flex: 1;
}