.grain-overlay {
    position: fixed;
    height: 300%;
    width: 300%;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    pointer-events: none;
    animation: grain 1s steps(5) infinite;
    top: -100%;
    left: -100%;
    z-index: 2;
    opacity: 0.23;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -15%) }
    40% { transform:translate(-5%, 15%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 15%) }
    90% { transform:translate(-10%, 10%) }
}