@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

:root {
    --color-white:          #ffffff;
    --color-darkwhite:      #e1e1e1;
    --color-lightgrey:      #c4c4c4;
    --color-grey:           #888888;
    --color-darkgrey:       #4f4f4f;
    --color-verydarkgrey:   #262626;
    --color-black:          #000000;

    --color-main-text:      #1a1414;
    --color-text-light:     #2a2a2a;

    --main-color:           #ff6d5f;
    --main-color-dark:      #E85F52;

    --main-font:            'Open Sans', sans-serif;
    --title-font:           'Comfortaa', cursive;
    --header-title-font:    'Dongle', sans-serif;
}


body {

    font-family: var(--main-font);
    background-color: var(--color-darkwhite);

}

main {

    color: var(--color-main-text);
    min-height: 100vh;
    line-height: 23px;

}

.header {

    display: flex;
    line-height: 60px;
    height: 60px;
    margin-bottom: 50px;
    width: 100%;
    background-color: var(--main-color);
    flex-direction: row;
    justify-content: space-between;

}

.header-container-right {

    display: flex;
    flex-direction: row;
    margin-right: 10px;

}
.header-container-right span {

    font-size: 30px;
    color: #c04d41;

}

.header-element-right {

    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
    transition-duration: 0.1s;

}

.header-element-right:hover {

    color: var(--color-lightgrey);

}

.header-element-left {

    position: relative;
    margin-left: 15px;
    padding-top: 12px;

}

.footer {

    display: flex;
    flex-direction: row;
    padding: 10px 0;
    height: auto;
    width: 100%;
    border-top: solid var(--color-darkgrey) 2px;
    text-align: center;
    justify-content: space-between;
    z-index: 9;

}

.header-icon {

    margin-left: 20px;
    position: absolute;
    top: 13px;
    width: 30px;
    transform: rotate(0deg) scale(1);
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.490, -0.100, 0.180, 1.575);

}

.header-element-left:hover .header-icon {

    transform: rotate(360deg) scale(1.3) translateX(-6px);

}

.circle {

    font-family: var(--header-title-font);
    line-height: 39px;
    overflow: hidden;
    transform: scale(1) translateX(0);
    position: absolute;
    background-color: var(--main-color-dark);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition-duration: 0.35s;

}

.header-element-left:hover .circle {

    border-radius: 6px;
    width: 125px;
    transform: scale(1.2) translateX(13px);

}

.header-icon-title {

    position: absolute;
    left: 42px;
    color: black;
    text-decoration: none;
    font-size: 35px;
    transform: translateX(120px);
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.655, 0.060, 0.000, 1.365); /* custom */

}

.header-element-left:hover .header-icon-title {

    transition-delay: 0.3s;
    transform: translateX(0);

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 12px;
    left: 0;
    background-color: var(--color-lightgrey);;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.home-main {

    height: 100%;
    margin: 0 20%;

}


.container-articles {

    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

}

.element-article {

    display: flex;
    flex-direction: column;
    height: 400px;
    width: 320px;
    overflow: hidden;

}

.element-article-img {

    width: 100%;
    border-radius: 7px;

}

.element-article-date {

    color: var(--color-grey);
    margin: 3px 0 0 0 ;
    font-size: 13px;

}

.element-article-title {

    margin: 0 0 5px 0;
    font-weight: bold;

}

.element-article-description {

    margin: 0;

}

.article-with-button {

    display: flex;
    flex-direction: column;

}

.element-article-read {

    color: white;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 7px 18px;
    border-radius: 5px;
    transition-duration: 0.2s;
    align-self: flex-end;

}

.headerElements {
    color: #eaeaea;
    text-decoration: none;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    margin: 12px;
    float: right;
    position: relative;
}

.headerElements:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.headerElements:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.headerElements.dot:before {
    display: none;
}

.headerElements.dot {
    background-color: #2c2c30;
    margin-right: 16px;
    padding: 9px 15px 13px 13px;
    z-index: 100000;
    user-select: none;
    cursor: pointer;
    margin-top: -4px;
    font-size: 26px;
}

.element-article-read:hover {

    color: #c0c0c0;
    background-color: var(--main-color-dark);

}

.footer-arr {

    text-decoration: none;
    color: var(--main-color);
    transition-duration: 0.2s;

}

.footer-arr:hover {

    color: #bd4a3d;

}

.footer-right-container {

    display: flex;
    flex-direction: row;
    margin-right: 20px;

}

.footer-right-element {

    margin-right: 5px;

}

.footer-right-container a {

    text-decoration: none;
    color: var(--main-color);
    transition-duration: 0.2s;

}

.footer-right-container a:hover {

    color: #bd4a3d;

}


.hover-underline-animation-footer {
    display: inline-block;
    position: relative;
}

.hover-underline-animation-footer:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #bd4a3d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-footer:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main-article {

    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.main-article-img {

    border-radius: 10px;
    height: 100%;

}



#main-article-content-container {

    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: center;

}

.main-article-content-title {

    font-weight: bold;
    font-size: 50px;
    margin: 15px 0;
    line-height: 60px;
    text-align: center;

}

.main-article-content-date {

    font-size: 15px;
    margin: 0;

}

.main-article-content-description {

    font-size: 20px;
    margin: 0;

}

.main-article-content-read {

    padding: 7px 10px;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.2s;
    align-self: flex-end;

}

.main-article-content-read:hover {

    color: #c0c0c0;
    background-color: var(--main-color-dark);

}

.footer-middle-container {

    width: 100%;
    align-content: center;
    position: relative;
    display: flex;
    justify-content: center;

}

.footer-middle-container-absolute {

    position:absolute;
    display: flex;
    justify-content: center;
    top: -10px;
    z-index: 1000;

}



.footer-middle-container-absolute:hover {

    overflow: visible;

}

.footer-middle-container-absolute .footer-icon {

    top: 18px;
    opacity: 0;
    transition-duration: 0.3s;

}
.footer-middle-container-absolute:hover .footer-icon {

    opacity: 1;

}
.footer-middle-container-absolute .footer-icon:hover {

    opacity: 0;

}

.footer-icon {

    top: 30px;
    width: 25px;
    position: absolute;

}


.footer-middle-container-logo {

    overflow: hidden;
    height: 20px;
    display: flex;
    justify-content: center;

}

.footer-middle-container-text {

    color: var(--color-main-text);
    background-color: var(--color-darkwhite);
    padding: 0 5px;
    text-decoration: none;
    transition-duration: 0.2s;

}

.footer-middle-container-text:hover {

    padding: 0 15px;
    color: var(--main-color)

}

.footer-right-container span {

    margin-right: 5px;

}

.article-container {

    margin: 0 30%;
    padding-top: 1px;
    background-color: var(--color-lightgrey);



}

.article-title {

    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;

}

.article-paragraph {

    margin: 10px;
    font-size: 20px;

}

.show-article-button {

    display: none;

}

@media (orientation: portrait) {

    .show-article-button {

        color: white;
        padding: 5px 0;
        user-select: none;
        cursor: pointer;
        text-align: center;
        width: 100%;
        background-color: var(--main-color);
        border-radius: 5px;
        margin-top: 5px;

    }

    #HeaderMenuButton {

        display: block;

    }

    #HeaderMenuButton.active {

        display: none;

    }

    #HeaderMenuButton2 {

        display: block;

    }

    #main-article-content-container.active .show-article-button {

        margin-top: 10px;
        margin-left: -20px;
        padding: 5px 20px 5px 20px;

    }

    .footer {

        flex-direction: column-reverse;
        padding: 35px 0 15px 0;
        height: auto;
        width: 100%;
        border-top: solid var(--color-darkgrey) 2px;
        text-align: center;
        z-index: 9;

    }

    .footer-right-container {

        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        margin-right: 0;
        justify-content: center;

    }

    .main-article {

        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: visible;

    }

    .main-article-img {


        border-radius: 5px;
        height: 100%;

    }

    #main-article-content-container {

        transition-duration: 0.3s;
        display: none;

    }

    #main-article-content-container.active {

        display: flex;
        background-color: var(--color-lightgrey);
        flex-direction: column;
        justify-content:space-between;
        align-content: center;
        margin: 20px -20% -10px -20%;
        padding: 0 20px 0 20px;
        border-radius: 5px;

    }

    .main-article-content-title {

        font-weight: bold;
        text-align: center;
        font-size: 32px;
        line-height: 37px;

    }

    .main-article-content-description {

        font-size: 20px;
        margin: 0;

    }

    .article-button {

        display: flex;

    }

    .home-SFEADFG2 {

        display: none;

    }

    .element-article-read {

        text-align: center;
        align-self: stretch;

    }

}
