footer {
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: var(--dark-grey);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}