.container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 0.5em;
    /*border-bottom: 2px solid var(--transparent-block-light-2);*/
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}
.button {
    background: none;
    outline: none;
    border: none;
    color: var(--color-5);
    transition-duration: 0.2s;
    cursor: pointer;
    position: relative;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    color: var(--color-1);
}
.active {
    color: var(--color-1);
}
.button::before {
    transition-duration: 0.2s;
    content: "";
    position: absolute;
    bottom: -0.5em;
    height: 3px;
    width: 50px;
    border-radius: 3px 3px 0 0;
}
.active::before {
    background: var(--primary-color-1);
    box-shadow: 0 -1.5px 11px 1px var(--primary-color-1);
}
.category {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}