.experience-container {
    display: flex;
    flex-direction: column;
    margin: 0 6em;
}
.section-headline {
    font-weight: 500;
    font-size: 2.2rem;
}
.experience-sections {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 3em 0;
}
.experience-button {
    display: flex;
    font-weight: 500;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.experience-button > span:nth-child(1) {
    font-size: 1.3rem;
    color: var(--color-3);
    transition-duration: 0.2s;
}
.experience-button > span:nth-child(2) {
    border: 1.8px solid var(--color-1);
    border-radius: 100px;
    transition-duration: 0.2s;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-button.active > span:nth-child(1) {
    color: var(--color-1);
}
.experience-button.active > span:nth-child(2) {
    color: var(--color-1-r);
    background: var(--color-1);
}
.experience-button:hover > span:nth-child(1) {
    color: var(--color-1);
}
.experience-button:hover > span:nth-child(2) {
    color: var(--color-1-r);
    background: var(--color-1);
}
.sort-buttons {
    position: sticky;
    top: 0;
    background: var(--bg);
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 2em 2em 1em 2em;
    font-size: 0.9rem;
    color: var(--color-1);
}
.sort-buttons.projects {
    gap: 10px;
}
.sort-buttons.projects > .auto {
    flex: 1;
}

.sort-project-id {
    width: 40px;
}
.sort-project-technologies {
    width: 120px;
}
.sort-project-images {
    width: 80px;
}
.sort-project-url {
    width: 80px;
}
.sort-project-source {
    width: 80px;
}
.sort-project-deployed {
    width: 120px;
}

.sort-buttons > button {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.sort-buttons > .auto {
    flex: 1;
}
.sort-id {
    width: 50px;
}
.placeholder-desc {
    flex: 3;
}
.sort-data {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) and (max-width: 1979px) {
    .section-headline {
        font-size: 1.8rem;
    }
    .experience-button > span:nth-child(1) {
        font-size: 1.1rem;
        color: var(--color-3);
        transition-duration: 0.2s;
    }
    .experience-button > span:nth-child(2) {
        font-size: 0.8rem;
        border: 1.8px solid var(--color-1);
        border-radius: 100px;
        padding: 0.1em 0.3em;
        transition-duration: 0.2s;
    }
}

@media (orientation: portrait) {
    .experience-container {
        margin: 4em 2% 0 2%;
    }
    .placeholder-desc {
        display: none;
    }
    .sort-buttons > * {
        font-size: 0.6rem;
        white-space: nowrap;
    }
    .sort-buttons.technologies {
        gap: 4px;
    }
    .sort-date {
        display: none !important;
    }
    .placeholder-project-desc {
        display: none !important;
    }
    .sort-project-technologies {
        display: none !important;
    }
    .sort-project-images {
        display: none !important;
    }
    .sort-project-url {
        display: none !important;
    }
    .sort-project-source {
        display: none !important;
    }
    .sort-project-deployed {
        display: none !important;
    }
    .sort-project-difficulty {
        display: none !important;
    }
    .section-headline {
        font-size: 1.6rem;
    }
    .experience-sections {
        margin: 1em 0;
        gap: 20px;
    }
    .experience-button {
        font-size: 0.8rem;
        gap: 7px;
    }
    .experience-button > span:nth-child(1) {
        font-size: 1rem;
    }
    .experience-button > span:nth-child(2) {
        height: 25px;
        text-align: center;
        font-size: 0.8rem;
        width: 25px;
    }
}