.wave-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./../../media/svg/wave.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-mask-image: linear-gradient(black 70%, transparent);
    mask-image: linear-gradient(black 70%, transparent);
}