:root {
  --headline-color: #FFFFFF;
  --text-color: #BBBBBB;
  --background-color: #050505;
  --dark-grey: #7c7c7c;
}

html {
  font-family: 'Roboto', sans-serif;
}

span, p {
  color: var(--text-color);
}

h1, h2, h3, h4 {
  align-self: flex-start;
  position: relative;
  color: var(--headline-color);
  font-weight: bold;
}

h1:hover::before {
  position: absolute;
  left: -35px;
  content: "#";
  color: var(--dark-grey);
}

h2:hover::before {
  position: absolute;
  left: -30px;
  content: "#";
  color: var(--dark-grey);
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.default-link {
  color: var(--headline-color);
  text-decoration: underline 1px var(--dark-grey);
  transition-duration: 0.2s;
  text-underline-offset: 3px;
}

.default-link:hover {
  text-decoration: underline 1px var(--headline-color);
}

.div-separator {
  align-self: center;
  height: 2px;
  width: 90px;
  background-color: var(--dark-grey);
  margin: 20px 0;
}