:root {
  --headline-color: #FFFFFF;
  --text-color: #BBBBBB;
  --background-color: #050505;
  --dark-grey: #7c7c7c;
  --light-black: #3f3f3f;
}

.d-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior:smooth;
}

span, p {
  color: var(--text-color);
}

h1, h2, h3, h4 {
  align-self: flex-start;
  position: relative;
  color: var(--headline-color);
  font-weight: bold;
}

h1, h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 33px;
}

p {
  line-height: 25px;
}

.date {
  color: var(--dark-grey);
  font-weight: 500;
  margin-bottom: 20px;
}

h1:hover::before {
  position: absolute;
  content: "#";
  left: -35px;
  opacity: 1;
  color: var(--dark-grey);
}

h2:hover::before {
  position: absolute;
  content: "#";
  left: -30px;
  color: var(--dark-grey);
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin: 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 92vh;
}

.default-link {
  color: var(--headline-color);
  text-decoration: underline 1px var(--dark-grey);
  transition-duration: 0.2s;
  text-underline-offset: 3px;
}

.default-link:hover {
  text-decoration: underline 1px var(--headline-color);
}

.div-separator {
  align-self: center;
  height: 2px;
  width: 90px;
  background-color: var(--dark-grey);
  margin: 20px 0;
}