.theme-switcher-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 2540px) {
    .theme-switcher-container > button > i {
        height: 24px !important;
        width: 24px !important;
    }
}